/* Importe da Fonte-awesme */
@import"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css";
@import"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js";
*{
	margin: 0 auto;
    border: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
}
html{
    /* 1 rem = 10px */
    font-size: 62.5%;
}
html,body{
    width: 100%;
    height: 100vh;
    background-color: ghostwhite;
}
.col-100{
    width: 100%;
    float: left;
    height: auto;
    position: relative;
}
.menu-principal{
    width: 100%;
    background-color: #012e40;
    height: 52px;
    position: fixed;
    z-index: 10;
}
.header-1{
    width: 100%;
    max-width: 980px;
}
.logo{
    float: left;
    padding: 8px 2px 2px 13px;
    width: 16%;
    height: 30px;
}
.logo p{
 	color: ghostwhite;
    font-size: 3rem;
    border: 0;
    margin: 0;
}
ul{
    padding: 0px!important;
}
.redes-sociais ul li{
    margin-left: 25px;
    display: inline-block;
    list-style: none;
    font-size: 2.2rem; 
    color: ghostwhite;
}
.redes-sociais {
    width: auto;
    float: right;
    padding: 10px;
    line-height: 3rem;
}
.styleA a{
	color: ghostwhite;
}
.styleA a:hover{
	color: #56a1bf;
	transition: 0.5s all;
}
#main01{
    width: 100%;
	position: absolute;
    top: 53px;
    z-index: 8;
    background-color: ghostwhite;
}
.header-2 {
    background-color: ghostwhite;
    width: 100%;
    max-width: 980px;
    padding: 16px 0px;
}
.menu {
    width: auto;
    float: left;
}
.menu-urls{
    height: 80px;
    border-bottom: 3px solid #efefef;
}
.menu ul li{
    display: inline-block;
    color: #230040;
    margin-left: 15px;
    height: 50px;
    border-bottom: 3px solid #56a1bf;
}
.menu ul li:hover{
    border-bottom: 3px solid #154659;
    transition: 0.5s all;
} 
.menu ul li a:hover{
    color: #154659;
    transition: 0.5s all;
}
.menu ul li a {
    color: rgb(86, 161, 191);
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 3rem;
    text-transform: uppercase;
}
.busca {
    width: auto;
    margin-bottom: 15px;
    float: right;
}
.busca input {
    height: 45px;
    width: 372px;
    background-position: 96%;
    background-color: ghostwhite;
    border: 1px solid #a6a6a6;
}
#Pesquisa1::-webkit-input-placeholder{
	color:#a6a6a6;
	background-color: ghostwhite;
	font-style: bold;
	font-size: 1.5rem;
}
#icon {
    position: relative;
    font-size: 1.5rem;
    line-height: 2rem;
    right: 30px;
    color: rgb(166, 166, 166);
}
.slider-principal{
	width: 100%;
	height:  90vh;
    float: left;
    position: relative;
    top: 139px;
}
.slider-principal img{
	width: 100%;
	opacity: 0.96;
    height: 70vh;
}
button.slick-prev{
    font-size: 0rem;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../img/anterior.png);
    top: 40%;
    left: 10%;
}
button.slick-next{
    font-size: 0rem;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../img/proximo.png);
    top: 40%;
    right: 10%;
}
.slick-list {
    width: 100%!important;
}
.slick-initialized {
    overflow: hidden;
}
.slick-dots li button {
    font-size: 0rem;
    border: 4px solid #f2f2f2;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}
.slick-dots{
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 45%;
    top: 420px;
}
li.slick-active button {
    background: #3a758c;
} 
.slick-dots li{
    padding-left: 10px;
    display: inline-block;
}
.produtos{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    background-color: #012e40;
}
.titulo{
	font-size: 3rem;
    position: absolute;
    top: 30px;
    left: 29px;
    color: ghostwhite;
}
.vertodas{
    font-size: 1.5rem;
    position: absolute;
    top: 43px;
    left: 213px;
}
.vertodas a{
    color: #00A6FF;
}
#ver{
    font-size: 1.5rem;
    line-height: 1rem;
    color: #00A6FF;
    text-align: right;
    float: left;
}
.box {
    width: 17%;
    height: 360px;
    margin-top: 100px;
    margin-bottom: 30px;
    background-color: ghostwhite;
}
.box img{
    margin-left: 2px;
    margin-top: 3px;
    width: 98%;
    opacity: 0.90;
    height: 166px;
}
.box img:hover{
    opacity: 1;
}
.box h1 {
    font-size: 2rem;
    line-height: 3rem;
    padding: 0px 5px;
    color: #8b8b8b;
}
.box p {
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding: 24px 5px;
    color: #8b8b8b;
}
#valor {
    color: #000;
    float: left;
    line-height: 1rem;
    width: 78%;
}
/*/////////////////////////////////////////*/
.melhores{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    background-color: #3A758C;
}
#titulo-melhor{
    font-size: 3rem;
    position: absolute;
    top: 30px;
    left: 25px;
    color: ghostwhite;
}
.box-melhor {
    width: 17%;
    height: 400px;
    margin-top: 100px;
    margin-bottom: 30px;
    background-color: #3A758C;
}
.box-melhor img{
    margin-left: 23px;
    margin-top: 3px;
    border-radius: 100px;
    opacity: 0.9;
    width: 163px;
    height: 189px;
    border:17px solid ghostwhite;
}
.box-melhor img:hover{
    opacity: 1;
}
.box-melhor h1 {
    font-size: 3.2rem;
    line-height: 4rem;
    text-align: center;
    color: ghostwhite;
}
.box-melhor p {
    font-size: 1.6rem;
    line-height: 1.7rem;
    text-align: center;
    color: #343F4B;
    margin-top: 15px;
}
/*/////////////////////////////////////////*/
#vertodas-serv a{
    color: rgb(0, 166, 255);
 }
 #vertodas-serv{
    font-size: 1.5rem;
    position: absolute;
    top: 44px;
    left: 256px;
    color: rgb(0, 166, 255);
 }
 /*//////////////////////////////////////////*/
 .servicos{
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    background-color: #3A758C;
 }
.info-servi {
    width: 17%;
    height: 420px;
    margin-top: 142px;
    margin-bottom: 36px;
}
.info-servi img {
    width: 100%;
    height: 100%;
    border: 7px solid ghostwhite;
    background-color: #ffffff;
    opacity: 0.8;
}
.info-servi img:hover {
    opacity: 1;
    transition: 0.5s all;
}
.servicos h1{
    font-size: 3.8rem;
    position: absolute;
    top: 26px;
    left: 44%;
    color: ghostwhite;
 }
.servicos p {
    font-size: 1.6rem;
    line-height: 1.3rem;
    position: absolute;
    top: 85px;
    left: 23%;
    color: #343F4B;
}
.info-servi p {
    position: relative;
    width: 150px;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    top: -37px;
    left: -36px;
    border-radius: 0px 100px 100px 0px;
    background-color: ghostwhite;
    color: #56A1BF;
}
.info-servi p:hover{
    color: #012E40;
    transition: 0.5s all;
}
/*//////////////////////////////////////////*/
.footer {
    position: relative;
    top: 598px;
    height: 30px;
    background-color: #242526;
}
.info-foter li {
    float: left;
    font-size: 1.3rem;
    line-height: 1.4rem;
    margin: 8px 30px 10px 30px;
    color: #a6a6a6;
}
.logo-foter {
    position: absolute;
    right: 62px;
    top: 2px;
    line-height: 2.5rem;
    font-size: 2rem;
    color: ghostwhite;
}
.info-foter li strong{
    color:rgb(66, 123, 209) ;
}
/* Cores Usadas */
.color-theme_LOGO-INSTA-1-hex { color: #D8E6F2; }
.color-theme_LOGO-INSTA-2-hex { color: #012E40; }
.color-theme_LOGO-INSTA-3-hex { color: #154659; }
.color-theme_LOGO-INSTA-4-hex { color: #3A758C; }
.color-theme_LOGO-INSTA-5-hex { color: #56A1BF; }

/* Tablet */
@media (max-width:768px){
.header-2{
    width: 51%;
}
.menu ul li {
    height: 45px;
    margin-left: 25px;
}
.menu ul li a {
    font-size: 14px;
}
.menu {
    width: 70%;
    position: absolute;
    right: 31%;
}
.busca {
    width: 64%;
    position: relative;
    left: 184px;
    top: 1px;
}
.busca input {
    height: 42px;
    width: 219px;
}
.redes-sociais {
    width: auto;
}
.logo {
    padding: 8px 2px 2px 20px;
}
.slick-dots {
    left: 42%;
    top: 424px;
}
.box {
    width: 28%;
}
.box-melhor {
    width: 25%;
    margin-right: 33px;
    margin-left: 25px;
}
.box-melhor img {
    margin-left: 2px;
}
.servicos h1 {
    left: 40%;
}
.servicos p {
    font-size: 14px;
    left: 7%;
}
.info-servi {
    width: 9%;
    margin: 0px 166px 0px 10px;
}
.imagem-servi img {
    border: 6px solid ghostwhite;
}
.footer {
    top: 628px;
}
.logo-foter {
    top: 4px;
}
.info-foter li {
    margin: 8px 13px 10px 13px;
}
#tirar{
    display:none ;
}


}
